{% extends "base.html" %}

{% block content %}
<h1>Top 12 Kills by ISK Value</h1>
<ul class="thumbnails">
    {% for kill in data %}
    <li class="col-md-3">
        <div class="thumbnail">
            <table>
                <tr>
                    <td rowspan="2"><a href="/eveinfo/{{kill.victim.shipTypeID}}/" rel='twipsy' title='{{kill.victim.shipType}}'><img src="{{ images.ships }}{{ kill.victim.shipTypeID }}_128.png" width="128" height="128" /></a></td>
                    <td><div style="width: 64px; height:64px; font-size: 64px; text-align: center;">{{ loop.index }}</div></td>
                </tr>
                <tr><td><a href="/details/pilot/{{kill.victim.characterID}}/" rel='twipsy' title='{{kill.victim.characterName}}'><img src="{{ images.characters }}{{kill.victim.characterID}}_64.jpg" width="64" height="64" /></a></td></tr>
            </table>
            <div class="caption">
                <h5>{{ kill.victim.characterName }}</h5>
                {{ kill.totalISKValue|number_format(2, '.', ',') }} isk <br/>
                <a href="/kill/{{ kill.killID }}/">Details ..</a>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}