{% extends "base.html" %}

{% block header %}
<h1>{{ info.characterName }}</h1>
<a href="#" rel='twipsy' title='{{info.characterName}}'>
<img src="{{ images.characters }}{{ info.characterID }}_64.jpg" width="64" height="64">
</a>
<a href="/corporation/{{info.corporationID}}" rel='twipsy' title='{{info.corporationName}}'>
<img src="{{ images.corporations}}{{info.corporationID}}_64.png" width="64" height="64">
</a>
{% if info.factionID != "0" %}
<a href="/faction/{{info.factionID}}" rel='twipsy' title='{{info.factionName}}'>
<img src="{{ images.alliances }}{{info.factionID}}_64.png" width="64" height="64">
</a>
{% endif %}
{% if info.allianceID != "0" %}
<a href="/alliance/{{info.allianceID}}" rel='twipsy' title='{{info.allianceName}}'>
<img src="{{ images.alliances }}{{info.allianceID}}_64.png" width="64" height="64">
</a>
{% endif %}
{% endblock %}

{% block content %}
<div class="tabbable">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#stats">Statistics</a></li>
        <li><a data-toggle="tab" href="#kills">Kills</a></li>
        <li><a data-toggle="tab" href="#losses">Losses</a></li>
    </ul>
    <div class="tab-content">
        <div id="stats" class="tab-pane active">
        {% include "components/entity_home_stats.html" %}
        </div>
        <div id="kills" class="tab-pane">
            <div id="home_killspage">
            {% set data = killdata %}
            {% include "components/kill_list.html" %}
            </div>
        </div>
        <div id="losses" class="tab-pane">
            <div id="home_losspage">
            {% set data = lossdata%}
            {% include "components/kill_list.html" %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
