html, body {
}
body {
    padding-top: 40px;
}
.top-banner{
    height: 120px;
    margin-bottom:30px;
    background-image: url("/images/kingboard.png");
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
}


#main, #header {
    margin-top: 20px;
    margin-bottom: 20px;
}

#footer {
    text-align: center;
}

.item-attributes {
/*    background-color: #eee;*/
    margin-bottom: 4px;
}

