/* Main  Layout */

body {
    background-color: #302C29;
    font-family: Arial, Sans-Serif;
    font-size: 14px;
    margin: 0;
}

#container {
    background-color: #302C29;
    border: 1px solid #cccccc;
}

#main {
    background-color: #D1D1BC;
}

#content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}


#header {
    background-color: #302C29;
    color: #D1D1BC;
}


#footer {
    background-color: #302C29;
    text-align: center;
    color: #FFFFFF;
    min-height: 20px;
}


/* navigation */
#nav {
    background: #6C8C84;
 /*   width:800px; */
    margin:0;
    height:26px;
}

#nav ul {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
}


#nav li {
    text-align: center;
    border-right: 1px solid #cccccc;
    height:21px;
    margin: 0;
    padding: 0;
    padding-top: 5px;
    padding-left: 5px;
    list-style: none;
    width: 100px;
    position: static;
    float: left;
}

#nav li.logo {
    font-weight: bold;
    font-size: 16px;
    width: 300px;
    text-align: left;
    padding-top: 4px;
}

#nav li:hover {
    background: #A7C4BB;
}

#nav li.logo:hover {
    background: #6C8C84;
}

#nav a, #nav a:active, #nav a:link {
    color: #000000;
    text-decoration: none;
}

#nav a:hover {
    text-decoration: underline;
}



td.statstype {
    width: 180px;
}

td.statsvalue {
    width: 20px;
    text-align: right;
}


#clear {
    clear:both;
}



table.kill_list {
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
    padding: 5px;
    margin: 1px;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
}

table.kill_list th {
    border-bottom: black solid 1px;

}

table.kill_list tr.top {
    border: none;
}
table.kill_list tr.bottom {
    border: none;
    border-bottom: black solid 1px;
}

table.kill_list tr.loss td
{
    background-color: #AA3333;
}

table.kill_list tr.kill td
{
    background-color: #33AA33;
}

table.kill_list td.count {
    border-right: black solid 1px;
    text-align: right;
}
table.kill_list td.ship {
    border-left: black solid 1px;
    text-align: left;
}

.tooltip {
	display:none;
    background-color: #302C29;
	color:#fff;
}

.error {
    color: #ff0000;
}