body {
    background-color: #000000;
    font-family: Arial, Sans-Serif;
}

#content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 760px;
}

#container {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    background-color: #cccccc;
    width: 800px;
    border: 1px solid #cccccc;

}

#header, #footer {
    background-color: #000000;
    text-align: center;
    color: #FFFFFF;
    min-height: 20px;
}

#main {
    width: 800px;
    background-color: #ffe3ed;
    min-height: 300px;
}


#clear {
    clear:both;
}

#nav {
    background: #660000;
    width:800px;
    margin:0;
    height:22px;
}

#nav ul {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
}

#nav li {
    text-align: center;
    border-right: 1px solid #cccccc;
    height:22px;
    margin: 0;
    padding: 0;
    padding-left: 5px;
    list-style: none;
    width: 100px;
    position: static;
    float: left;
}

#nav li:hover {
    background: #ff3333;
}

#nav a, #nav a:active, #nav a:link {
    color: #000000;
    text-decoration: none;
}

#nav a:hover {
    text-decoration: underline;
}

table.kill_list {
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
    padding: 5px;
    margin: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
}
table.kill_list tr.top {
    border: none;
}
table.kill_list tr.bottom {
    border: none;
    border-bottom: black solid 1px;
}