{% extends "base.html" %}

{% block header %}
<h1>{{ info.allianceName }}</h1>
<a href="#" rel='twipsy' title='{{info.allianceName}}'>
<img src="{{ images.alliances }}{{info.allianceID}}_64.png" width="64" height="64">
</a>
{% if info.factionID != 0 %}
<a href="#" rel='twipsy' title='{{info.factionName}}'>
<img src="{{ images.alliances }}{{info.factionID}}_64.png" width="64" height="64">
</a>
{% endif %}
{% endblock %}

{% block content %}
<ul class="tabs">
    <li class="active"><a href="#stats">Statistics</a></li>
    <li><a href="#kills">Kills</a></li>
    <li><a href="#losses">Losses</a></li>
    <li><a href="#memberactivity">Member Activities</a></li>
</ul>
<div class="tab-content">
	<div id="stats" class="tab-pane active">
    {% include "components/entity_home_stats.html" %}
	</div>
    <div id="kills" class="tab-pane">
        <h2>Kills</h2>
        <div id="home_killspage">
        {% set data = killdata %}
        {% include "components/kill_list.html" %}
        </div>
    </div>
    <div id="losses" class="tab-pane">
        <h2>Losses</h2>
        <div id="home_losspage">
        {% set data = lossdata %}
        {% include "components/kill_list.html" %}
        </div>
    </div>
    <div id="memberactivity" class="tab-pane">
        not here yet
    </div>
</div>
{% endblock %}