{% extends "base.html" %}

{% block title %}{{ info.allianceName }} Details{% endblock %}
{% block header %}
{% endblock %}

{% block script %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Shiptype');
        data.addColumn('number', 'Kills');
        data.addColumn('number', 'Losses');
        data.addRows([
                {% for type, values in totalstats %}
    ['{{type}}', {{values.kills}}, {{values.losses}}],
    {% endfor %}
    ]);
    var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
    chart.draw(data, {
        width: 940,
        height: 800,
        titlePosition: 'in',
        chartArea: { height: '90%' },
        hAxis: { logScale: true }
    });
    }
</script>
{% endblock script %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ info.allianceName }}</h3>
            </div>
            <div class="panel-body">
                <a href="#" rel='twipsy' title='{{info.allianceName}}'>
                <img src="{{ images.alliances }}{{info.allianceID}}_64.png" width="64" height="64">
                </a>
                {% if info.factionID != 0 %}
                <a href="#" rel='twipsy' title='{{info.factionName}}'>
                <img src="{{ images.alliances }}{{info.factionID}}_64.png" width="64" height="64">
                </a>
                {% endif %}
                <div class="tabbable">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#stats" data-toggle="tab">Statistics</a></li>
                        <li><a href="#kills" data-toggle="tab">Kills & Losses</a></li>
                        <!--li><a href="#memberactivity" data-toggle="tab">Member Activities</a></li-->
                    </ul>
                    <div class="tab-content">
                        <div id="stats" class="tab-pane active">
                        {% include "components/entity_home_stats.html" %}
                        </div>
                        <div id="kills" class="tab-pane">
                            <h2>Kills & Losses</h2>
                            <div id="home_killspage">
                            {% include "components/kill_list.html" %}
                            </div>
                        </div>
                        <!--div id="memberactivity" class="tab-pane">
                            not here yet
                        </div-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}