{% extends "base.html" %}

{% block header %}
{% endblock %}

{% block content %}
<div class="row-fluid">
<div class="span12">
    <div id="battlereports">
        <h2>Latest Battlereports</h2>
        <div class="row">
        <table class="table-bordered table-striped table-condensed span12">
            <thead>
            <tr>
                <th>System</th>
                <th>Start</th>
                <th>End</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
        {% for report in reports %}
            <tr>
                <td>{{ report.system }}</td>
                <td>{{ report.startdate.sec|date("Y-m-d H:i:s") }}</td>
                <td>{{ report.enddate.sec|date("Y-m-d H:i:s") }}</td>
                <td><a href="/battle/{{ report._id }}">details</a></td>
            </tr>
        {% endfor %}
        </table>
        </div>
    </div>
</div>
</div>
{% endblock %}