{% extends "datedbase.html" %}

{% block title %}Kingboard: {{ date }} {% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Daily Report</h3>
            </div>
            <div class="panel-body" style="text-align: center; height: 113px;">
                <h3>{{ date }}</h3>
                <a href="/day/{{ previousDate}}/"><i class="glyphicon glyphicon-arrow-left"></i></a>
                <a href="/day/{{ nextDate}}/"><i class="glyphicon glyphicon-arrow-right"></i></a>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Total Kills</h3>
            </div>
          <div class="panel-body" style="text-align: center; height: 113px;">
              Ships + Pods
            <h3>{{ stats.total }}</h3>
          </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Most Valuable Loss</h3>
            </div>
            <div class="panel-body" style="text-align: center;">
                <div class="row">
                    <a href="/eveinfo/{{stats.topValue.victim.shipTypeID}}/" rel='twipsy' title='{{stats.topValue.victim.shipType}}'><img src="{{ images.ships }}{{ stats.topValue.victim.shipTypeID }}_64.png" width="64" height="64" /></a>
                    <a href="/details/pilot/{{stats.topValue.victim.characterID}}/" rel='twipsy' title='{{stats.topValue.victim.characterName}}'><img src="{{ images.characters }}{{stats.topValue.victim.characterID}}_64.jpg" width="64" height="64" /></a>
                </div>
                <div class="row">
                {{ stats.topValue.totalISKValue|number_format(2, '.', ',') }} ISK
                </div>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-10">
        <div class="panel panel-default">
          <div class="panel-heading">
              <h3 class="panel-title">Kills</h3>
          </div>
          <div class="panel-body">
              {% set data = kills %}
              {% include "components/kill_list_list.html" %}
          </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Kill Page</h3>
            </div>
          <div class="panel-body" style="text-align: center;">
              <a href="{% if page.prev %}{{ action }}/{{ page.prev }}{% else %}#{% endif %}"><i class="glyphicon glyphicon-arrow-left"></i></a>
                {{ page.currentPage }} / {{ page.lastPage }}
              <a href="{% if page.next %}{{ action }}/{{ page.next }}{% else %}#{% endif %}"><i class="glyphicon glyphicon-arrow-right"></i></a>
          </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-10">
        <div class="panel panel-default">
          <div class="panel-heading">
              <h3 class="panel-title">Battles</h3>
          </div>
          <div class="panel-body">
              <div id="battlereports">
                  <div class="tab-pane">
                      <table class="table-bordered table-condensed table-striped col-md-12">
                          <thead>
                          <tr>
                              <th>System</th>
                              <th>Start</th>
                              <th>End</th>
                              <th>&nbsp;</th>
                          </tr>
                          </thead>
                          {% for report in battles%}
                          <tr>
                              <td>{{ report.system }}</td>
                              <td>{{ report.startdate.sec|date("Y-m-d H:i:s") }}</td>
                              <td>{{ report.enddate.sec|date("Y-m-d H:i:s") }}</td>
                              <td><a href="/battle/{{ report._id }}">details</a></td>
                          </tr>
                          {% endfor %}
                      </table>
                  </div>
              </div>

          </div>
        </div>
    </div>
</div>
{% endblock %}
