<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8">
  <title>{% block title %}Kingboard{% endblock %}</title>
  <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/base/jquery-ui.css" media="screen" rel="stylesheet" type="text/css">
  <link href="/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/css/main.css" media="screen" rel="stylesheet" type="text/css" />
  {% block style %}

  {% endblock %}
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/jquery-ui.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap-tabs.js"></script>
  <script type="text/javascript" src="/js/bootstrap-twipsy.js"></script>
  <script type="text/javascript" src="/js/common.js"></script>
  {% block script %}
  {% endblock %}
</head>
<body style="padding-top: 40px;">
<div class="topbar">
    <div class="topbar-inner">
    <div class="container">
        <a class="brand" href="/">Kingboard</a>
        <ul class="nav">
            <li><a href="/">Start</a></li>
            <li><a href="/search/">Search</a></li>
            <li><a href="/post/">Post Mail</a></li>
        </ul>
        <ul class="nav secondary-nav">
            <li><a href="/information/">About</a></li>
            <li><a href="/account/">My Kingboard</a></li>
            {% if user %}
                <li><a href="/logout">Logout</a></li>
            {% else %}
                <li><a href="/login">Login</a></li>
            {% endif %}
        </ul>
    </div>
    </div>
</div>
<div class="container" id="main">
<div class="span16 top-banner">
    &nbsp;
</div>
{% block header %}
{% endblock %}
{% block content %}Default Content{% endblock %}
</div>
<div class="container" id="footer">
    <div class="footer">
        This killboard is running on <a href="https://github.com/ppetermann/Kingboard">Kingboard</a>.
    </div>
</div>
</body>
</html>
