<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8">
  <title>Kingboard: {{ Kingboard.Name }} / {% block title %}{% endblock %}</title>
  <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

  <link href="/assets/css/fake.css" media="screen" rel="stylesheet" type="text/css" />
  {% block style %}

  {% endblock %}
  <script type="text/javascript" src="/assets/js/fake.js"></script>
  {% block script %}
  {% endblock %}
  {% if debugbar %}
     {{ debugbar_header|raw }}
  {% endif %}
</head>
<body>
<div class="navbar-wrapper">
    <div class="container">
    <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">{{ Kingboard.Name }}</a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-header navbar-right">
                <ul class="nav navbar-nav">
                <li><a href="/information/"><i class="glyphicon glyphicon-info-sign icon-white"></i></a></li>
                {% if user %}
                    <li><a href="/logout"><i class="glyphicon glyphicon-off icon-white"></i></a></li>
                {% else %}
                    <li><a href="/login"><i class="glyphicon glyphicon-user icon-white"></i></a></li>
                {% endif %}
                </ul>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/"><i class="glyphicon glyphicon-home icon-white"></i></a></li>
                    <li class="dropdown" id="mykingboard">
                        <a href="#mykingboard" class="dropdown-toggle" data-toggle="dropdown">My Kingboard<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/account/"><i class="glyphicon glyphicon-user"></i> My Account</a></li>
                            <li><a href="/battle/editor"><i class="glyphicon glyphicon-fire"></i> Battle Editor</a></li>
                            {% if user %}
                            <li class="divider"></li>
                            <li><a href="/logout"><i class="glyphicon-off"></i> Logout</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    <li class="dropdown" id="rankings">
                        <a href="#ranking" class="dropdown-toggle" data-toggle="dropdown">Rankings<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/top/value/"><i class="glyphicon glyphicon-list"></i> top 12 kills by ISK</a></li>
                            <li><a href="/top/killers"><i class="glyphicon glyphicon-list"></i> top 12 killers by ship kills</a></li>
                            <li><a href="/top/losers"><i class="glyphicon glyphicon-list"></i> top 12 losers by lost ship amount</a></li>
                        </ul>
                    </li>
                    <li><a href="/battles/">Battles</a></li>
                </ul>
                <form id="search" name="search" class="navbar-form navbar-left" role="search" action="/search/" method="POST">
                    <div class="form-group"><input type="text" class="form-control" placeholder="Search" autocomplete="off" data-provide="typeahead" id="searchbox" name="searchbox"></div>
                </form>
            </div>
        </div>
    </div>
    </div>
</div>
<div class="container" id="main">
    <div class="top-banner" style="background-image:url('{{header_image}}');">
        &nbsp;
    </div>
    <div id="content-container">
        <div class="header" id="headbar">

        </div>
    {% block header %}
    {% endblock %}
    {% block content %}Default Content{% endblock %}
        <div class="footer" id="footer">
            This killboard is running on <a href="https://github.com/ppetermann/Kingboard">Kingboard</a> {{ Kingboard.Version }} ({{ Kingboard.ReleaseName }}).
        </div>
    </div>

</div>
{% if debugbar %}{{ debugbar|raw }}{% endif %}
</body>
</html>
