{% load SithKingboard %}
{% extends "base.html" %}

{% block header %}
<h1>Battle for {{ battleSetting.system }}</h1>
<p><b>Start</b>: {{ battleSetting.startdate|mongodate }}<br/>
<b>End</b>: {{ battleSetting.enddate|mongodate }}</p>
{% endblock %}

{% block content %}
<ul class="tabs">
	<li class="active"><a href="#kills">Kills</a></li>
	<li><a href="#losses">Losses</a></li>
    <li><a href="#timeline">Timeline</a></li>
    <li><a href="#fleetcompositions">Fleetcompositions</a></li>
</ul>
<div class="tab-content">
	<div id="kills" class="tab-pane active">
    <h1>Kills</h1>
        <div id="home_killspage">
        {% with kills as data %}
        {% include "components/kill_list.html" %}
        {% endwith %}
        </div>
	</div>
    <div id="losses" class="tab-pane">
    <h1>Losses</h1>
        <div id="home_losspage">
        {% with losses as data %}
        {% include "components/kill_list.html" %}
        {% endwith %}
        </div>
    </div>
    <div id="timeline" class="tab-pane">
    <h1>Battle Timeline</h1>
        {% include "components/kill_timeline.html" %}
    </div>
    <div id="fleetcompositions" class="tab-pane">
        <h1>Fleetcompositions</h1>
        not yet.clclcc
    </div>
</div>
{% endblock %}


{% block script %}
<script type="text/javascript">
    $(function() {
        $( "#tabs" ).tabs();
    });
</script>
{% endblock %}