{% extends "base.html" %}

{% block title %}Kingboard / Home{% endblock %}


{% block header %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">EVE Item Information <small>{{item.typeName}}</small></h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-1">
                        <img src="{{images.items}}{{item.typeID}}_64.png" alt="{{item.typeName}}">
                    </div>
                    <div class="col-md-10">
                    <h2>Description</h2>
                        {{ item.description|raw|nl2br }}
                    </div>
                </div>

                <div class="col-md-12">
                <div class="row">
                    <h2>Attributes</h2>
                    {% for category, attributes in item.Attributes %}

                    <div class="col-md-4 item-attributes">
                        <h3>{{ category }}</h3>
                        {% for attribute in attributes %}
                        <div>
                        <b>{{ attribute.attributeName }}</b><br/>
                        {{ attribute.valueInt }}{{ attribute.valueFloat }} ({{attribute.unitDisplayName}})</div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}