<table class="kill_list">
    <thead>
        <tr>
             <th colspan="5">{% if prev %}<a href="/home/page/{{ prev }}/" class="pager">Previous Page</a>{% endif %} Page {{ currentPage }} or {{ lastPage }} {% if next %}<a href="/home/page/{{ next }}/" class="pager">Next Page</a>{% endif %}</th>
        </tr>
    </thead>
    <tbody>{% for kill in data %}
        <tr class="top">
            <td><img src="{{images.items}}{{kill.victim.shipTypeID}}_32.png" alt="{{kill.victim.shipType}}" width="32" height="32"></td>
            <td>{{kill.victim.shipType }}</td>
            <td {% if not kill.victim.allianceID %}rowspan="2"{% endif %}><img src="{{ images.corporations }}{{kill.victim.corporationID}}_32.png" alt="{{kill.victim.corporationName}}" width="32" height="32"></td>
            <td {% if not kill.victim.allianceID %}rowspan="2"{% endif %}>{{kill.victim.corporationName }}</td>
            <td>{{kill.killTime|mongodate }}</td>
        </tr>
        <tr class="bottom">
            <td><img src="{{ images.characters }}{{kill.victim.characterID}}_32.jpg" alt="" width="32" height="32"></td>
            <td><a href="http://{{ baseHost }}/pilot/{{ kill.victim.characterID }}">{{kill.victim.characterName }}</a></td>
            {% if kill.victim.allianceID %}
                <td>{% if kill.victim.allianceID %}<img src="{{ images.alliances }}{{kill.victim.allianceID}}_32.png" alt="{{kill.victim.allianceID}}" width="32" height="32">{% endif %}</td>
                <td>{{kill.victim.allianceName}}</td>
            {% endif %}
            <td>{% if kill.location.region %}<a href="http://evemaps.dotlan.net/map/{{ kill.location.region }}" rel="external">{{ kill.location.region }}</a> / {% endif %}<a href="http://evemaps.dotlan.net/system/{{ kill.location.solarSystem }}" rel="external">{{ kill.location.solarSystem }}</a> / {{ kill.location.security|round:1 }} / <a href="/kill/{{ kill.idHash }}/">Details ..</a></td>
        </tr>
{% endfor %}
    </tbody>
</table>