{% load SithKingboard %}
{% extends "base.html" %}

{% block title %}Kingboard / Home{% endblock %}

{% block header %}
    <fieldset>
        <legend>Global Statistics</legend>
        <table>
            <tr>
                {% for group in stats %}
                <td class="statstype">{{ group._id }}</td><td class="statsvalue">{{ group.value.total }}</td>
                {% if forloop.counter|divisibleby:6 and not forloop.last %}
                    </tr><tr>
                {% endif %}
                {% endfor %}
            </tr>
            <tr><td colspan="10">&nbsp;</td><td class="statstype">Total</td><td class="statsvalue"> {{ count }}</td></tr>
        </table>
    </fieldset>
{% endblock %}


{% block content %}
<div id="tabs">
	<ul>
		<li><a href="#kills">Kills/Losses</a></li>
		<li><a href="#battlereports">Battlereports</a></li>
	</ul>
	<div id="kills">
        <div id="home_killspage">
        {% include "components/kill_list.html" %}
        </div>
	</div>
        <div id="battlereports">
        <div>comming soon</div>
    </div>
{% endblock %}

{% block script %}
<script type="text/javascript">
    $(function() {
        $( "#tabs" ).tabs();
    });
</script>
{% endblock %}