{% extends "base.html" %}

{% block title %}Kingboard{% endblock %}

{% block content %}
<table>
    <thead>
    </thead>
    <tbody>
{% for kill in data %}
        <tr>
            <td><img src="http://eve-kill.net/img/ships/32_32/{{kill.victim.shipTypeID}}.png" /><td>{{kill.victim.shipType }}</td><td><img src="http://image.eveonline.com/Corporation/{{kill.victim.corporationID}}_32.png" /></td><td>{{kill.victim.corporationName }}</td>
        </tr>
        <tr>
            <td><img src="http://image.eveonline.com/Character/{{kill.victim.characterID}}_32.jpg" /><td>{{kill.victim.characterName }}</td><td><img src="http://image.eveonline.com/Alliance/{{kill.victim.allianceID}}_32.png" /></td><td>{{kill.victim.allianceName}}</td>
        </tr>
{% endfor %}
    </tbody>
</table>

{% endblock %}
