{% extends "base.html" %}

{% block header %}
<h1>Information</h1>
<p>All thats there to know about Kingboard</p>
{% endblock %}

{% block content %}
<div class="tabbable">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#readme">Readme</a></li>
        <li><a data-toggle="tab" href="#license">License</a></li>
        <li><a data-toggle="tab" href="#contributions">Contributions</a></li>
        <li><a data-toggle="tab" href="#ccp">CCP Copyright Notice</a></li>
    </ul>
    <div class="tab-content">
        <div id="readme" class="active tab-pane">
            {{ readme|raw }}
        </div>
        <div id="license" class="tab-pane">
            {{ license|raw }}
        </div>
        <div id="contributions" class="tab-pane">
            {{ contributions|raw }}
        </div>
        <div id="ccp" class="tab-pane">
            {{ ccp_copyright|raw }}
        </div>
    </div>
</div>
{% endblock %}