{% extends "base.html" %}

{% block header %}
<h1>Information</h1>
<p>All thats there to know about Kingboard</p>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Information</h3>
            </div>
            <div class="panel-body">
                <div class="tabbable">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#readme">Readme</a></li>
                        <li><a data-toggle="tab" href="#license">License</a></li>
                        <li><a data-toggle="tab" href="#contributions">Contributions</a></li>
                        <li><a data-toggle="tab" href="#ccp">CCP Copyright Notice</a></li>
                        <li><a data-toggle="tab" href="#libs">Libraries used</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="readme" class="active tab-pane">
                            {{ readme|raw }}
                        </div>
                        <div id="license" class="tab-pane">
                            {{ license|raw }}
                        </div>
                        <div id="contributions" class="tab-pane">
                            {{ contributions|raw }}
                        </div>
                        <div id="ccp" class="tab-pane">
                            {{ ccp_copyright|raw }}
                        </div>
                        <div id="libs" class="tab-pane">
                            <h1>3rd Party Libraries Used</h1>
                            Kingboard uses a variety of opensource libraries / tools. This list might not be complete
                            since
                            some of the used components might depend on further libs.
                            <ul>
                                <li>King23 (V{{king23version}})</li>
                                <li>PhealNG (V{{phealversion}})</li>
                                <li>PHP Debug Bar</li>
                                <li>PHP Markdown Lib</li>
                                <li>Monolog</li>
                                <li>Twig</li>
                                <li>Bootstrap</li>
                                <li>Composer</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}