{% extends "base.html" %}

{% block title %}Kingboard: {{killdata.killID}}{% endblock %}

{% block header %}
<h1>{{ killdata.killTime.sec|date("Y-m-d H:i:s") }} / {% if killdata.location.region %}{{killdata.location.region}} / {% endif %}{{ killdata.location.solarSystem }} / {{ "%1.1f"|format(killdata.location.security) }}</h1>
<table class="condensed-table">
    <tr>
        <th>Victim:</th>
        <td><a href="http://{{ baseHost }}/pilot/{{ killdata.victim.characterID }}">{{ killdata.victim.characterName }}</a></td>
        <td rowspan="5">
            <img src="{{ images.ships }}{{killdata.victim.shipTypeID}}_64.png" width="128" height="128">

            <a href="/pilot/{{killdata.victim.characterID}}" rel='twipsy' title='{{killdata.victim.characterName}}'>
                <img src="{{ images.characters }}{{killdata.victim.characterID}}_128.jpg" width="128" height="128">
            </a>
            <a href="/corporation/{{killdata.victim.corporationID}}" rel='twipsy' title='{{killdata.victim.corporationName}}'>
                <img src="{{ images.corporations}}{{killdata.victim.corporationID}}_128.png" width="128" height="128">
            </a>
             {% if killdata.victim.allianceID != 0 %}
            <a href="/alliance/{{killdata.victim.allianceID}}" rel='twipsy' title='{{killdata.victim.allianceName}}'>
                <img src="{{ images.alliances }}{{killdata.victim.allianceID}}_128.png" width="128" height="128">
            </a>
            {% endif %}
         </td>
    </tr>
    <tr>
        <th>Corporation:</th>
        <td>{{ killdata.victim.corporationName }}</td>
    </tr>
    {% if killdata.victim.faction %}
    <tr>
        <th>Faction:</th>
        <td>{{ killdata.victim.faction }}</td>
    </tr>
    {% else %}
    <tr>
        <th>Alliance:</th>
        <td>{% if killdata.victim.allianceName %}{{ killdata.victim.allianceName }}{% else %}"Unknown"{% endif %}</td>
    </tr>
    {% endif %}
    <tr>
        <th>Ship:</th>
        <td>{{ killdata.victim.shipType }}</td>
    </tr>
    <tr>
        <th>Damage Taken:</th>
        <td>{{ killdata.victim.damageTaken }}</td>
    </tr>
</table>
{% endblock %}

{% block content %}
<ul class="tabs">
    <li class="active"><a href="#involved-stats">Involved Stats</a></li>
	<li><a href="#involved-pilots">Involved Pilots</a></li>
	<li><a href="#victim-assets">Victim Assets</a></li>
</ul>
<div class="tab-content">
	<div id="involved-stats" class="tab-pane active">

        <table class="condensed-table zebra-striped">
		{% for alliance, corporations in stats %}
            <thead>
            <tr class="titles">
                <th>{% if alliance %}{{ alliance }}{% else %}"Corporation"{% endif %}</th>
                <th>Pilots</th>
            </tr>
            </thead>
            {% for corporation, value in corporations %}
                <tr><td class="corporation">{{ corporation }}</td><td class="count">{{ value }}</td></tr>
            {% endfor %}
        {% endfor %}
        </table>
	</div>
	<div id="involved-pilots" class="tab-pane">
        <table class="condensed-table zebra-striped">
            <thead>
            <tr class="titles">
                <th>&nbsp;</th><th>Attacker</th><th>Equipment</th><th>Damage</th>
            </tr>
            </thead>
            {% for attacker in killdata.attackers %}
            <tr class="attacker">
                <td class="icons">
                    <img src="{{ images.ships }}{{attacker.shipTypeID}}_64.png" width="32" height="32">
                    <a href="/pilot/{{attacker.characterID}}" rel='twipsy' title='{{attacker.characterName}}'>
                        <img src="{{ images.characters }}{{attacker.characterID}}_64.jpg" width="32" height="32">
                    </a>
                    <a href="/corporation/{{attacker.corporationID}}" rel='twipsy' title='{{attacker.corporationName}}'>
                        <img src="{{ images.corporations }}{{attacker.corporationID}}_64.png" width="32" height="32">
                    </a>
                    {% if attacker.allianceName and attacker.allianceName != "Unknown" and attacker.allianceName != "None" %}
                        <a href="/alliance/{{killdata.victim.allianceID}}" rel='twipsy' title='{{attacker.allianceName}}'>
                           <img src="{{ images.alliances }}{{attacker.allianceID}}_64.png"  width="32" height="32">
                        </a>
                    {% endif %}
                </td>
                <td class="pilot">
                    <a href="http://{{ baseHost }}/pilot/{{ attacker.characterID }}">{{ attacker.characterName }}</a> /
                    <a href="http://{{ baseHost }}/corporation/{{ attacker.corporationID }}/">{{ attacker.corporationName }}</a>
                    {% if attacker.allianceName and attacker.allianceName != "Unknown" and attacker.allianceName != "None" %} / <a href="http://{{baseHost}}/alliance/{{attacker.allianceID}}/">{{ attacker.allianceName }}</a>{% endif %}
                </td>
                <td class="equipment">{{ attacker.shipType }} / {{ attacker.weaponType }}</td>
                <td class="damage">{{ attacker.damageDone }}</td>
            </tr>
            {% endfor %}
        </table>
	</div>
	<div id="victim-assets" class="tab-pane">
        <table class="condensed-table zebra-striped">
        <thead><tr class="titles">
            <th>&nbsp;</th>
            <th>Item Type</th>
            <th>Dropped</th>
            <th>Destroyed</th>
        </tr></thead>
        {% for item in killdata.items %}
        <tr>
            <td class="icons"><img src="{{ images.items }}{{ item.typeID }}_32.png" width="18" height="18"></td>
            <td>{{ item.typeName }}</td>
            <td class="dropped">{{ item.qtyDropped }}</td>
            <td class="destroyed">{{ item.qtyDestroyed }}</td>
        </tr>
            {% if item.items %}
                {% for containeritem in item.items %}
                    <tr>
                        <td class="icons"><img src="{{ images.items }}{{ item.typeID }}_32.png" width="32" height="32"><img src="{{ images.items }}{{ containeritem.typeID }}_32.png" width="32" height="32"></td>
                        <td>{{ containeritem.typeName }}</td>
                        <td class="dropped">{{ containeritem.qtyDropped }}</td>
                        <td class="destroyed">{{ containeritem.qtyDestroyed }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        {% endfor %}
        </table>
	</div>
</div>
{% endblock %}
