{% load SithKingboard %}
{% extends "base.html" %}

{% block title %}Kingboard: {{killdata.killID}}{% endblock %}

{% block header %}
<fieldset>
<legend>{{ killdata.killTime|mongodate }} / {% if killdata.location.region %}{{killdata.location.region}} / {% endif %}{{ killdata.location.solarSystem }} / {{ killdata.location.security|round:1 }}</legend>
<table>
    <tr>
        <th>Victim:</th>
        <td><a href="http://{{ baseHost }}/pilot/{{ killdata.victim.characterID }}">{{ killdata.victim.characterName }}</a></td>
        <td rowspan="3">
             <img src="{{ images.characters }}{{killdata.victim.characterID}}_64.jpg" width="64" height="64">
             <img src="{{ images.corporations}}{{killdata.victim.corporationID}}_64.png" width="64" height="64">
             <img src="{{ images.alliances }}{{killdata.victim.allianceID}}_64.png" width="64" height="64">
         </td>
    </tr>
    <tr>
        <th>Corporation:</th>
        <td>{{ killdata.victim.corporationName }}</td>
    </tr>
    <tr>
        <th>Alliance:</th>
        <td>{{ killdata.victim.allianceName }}</td>
    </tr>
    {% if killdata.victim.faction %}
    <tr>
        <th>Faction:</th>
        <td>{{ killdata.victim.faction }}</td>
    </tr>
    {% endif %}
    <tr>
        <th>Ship:</th>
        <td>{{ killdata.victim.shipType }}</td>
        <td rowspan="3">
             <img src="{{ images.items }}{{killdata.victim.shipTypeID}}_64.png" width="64" height="64">
         </td>
    </tr>
    <tr>
        <th>Damage Taken:</th>
        <td>{{ killdata.victim.damageTaken }}</td>
    </tr>
</table>
</fieldset>
{% endblock %}

{% block content %}
<div id="tabs">
	<ul>
		<li><a href="#involved-stats">Involved Stats</a></li>
		<li><a href="#involved-pilots">Involved Pilots</a></li>
		<li><a href="#victim-assets">Victim Assets</a></li>
	</ul>
	<div id="involved-stats">
        <table>
		{% for alliance, corporations in stats %}
            <tr>
                <th colspan="2">{{ alliance }}</th>
            </tr>
            <tr>
                <th>Corporation</th>
                <th>Pilots</th>
            </tr>
            {% for corporation, value in corporations %}
                <tr><td>{{ corporation }}</td><td>{{ value }}</td></tr>
            {% endfor %}
        {% endfor %}
        </table>
	</div>
	<div id="involved-pilots">
        <table>
            {% for attacker in killdata.attackers %}
            <tr>
                <th rowspan="6" width="132">
                     <img src="{{ images.alliances }}{{attacker.allianceID}}_64.png"  width="64" height="64">
                     <img src="{{ images.corporations }}{{attacker.corporationID}}_64.png" width="64" height="64"><br/>
                     <img src="{{ images.characters }}{{attacker.characterID}}_64.jpg" width="64" height="64">
                     <img src="{{ images.items }}{{attacker.shipTypeID}}_64.png" width="64" height="64">
                </th>
                <th>Attacker:</th>
                <td><a href="http://{{ baseHost }}/pilot/{{ attacker.characterID }}">{{ attacker.characterName }}</a></td>
            </tr>
            <tr>
                <th>Corporation:</th>
                <td>{{ attacker.corporationName }}</td>
            </tr>
            <tr>
                <th>Alliance:</th>
                <td>{{ attacker.allianceName }}</td>
            </tr>
            <tr>
                <th>Ship:</th>
                <td>{{ attacker.shipType }}</td>
            </tr>
            <tr>
                <th>Weapon:</th>
                <td>{{ attacker.weaponType }}</td>
            </tr>
            <tr>
                <th>Damage Done:</th>
                <td>{{ attacker.damageDone }}</td>
            </tr>
            {% endfor %}
        </table>
	</div>
	<div id="victim-assets">
        <table>

        {% for item in killdata.items %}
        <tr>
            <td><img src="{{ images.items }}{{ item.typeID }}_32.png" width="32" height="32"></td>
            <th>{{ item.typeName }}</th>
            <td>{{ item.qtyDropped }}</td>
            <td>{{ item.qtyDestroyed }}</td>
            {% if item.items %}
                {% for containeritem in item.items %}
                    <tr>
                        <td><img src="{{ images.items }}{{ item.typeID }}_32.png" width="32" height="32"><img src="{{ images.items }}{{ containeritem.typeID }}_32.png" width="32" height="32"></td>
                        <th>{{ containeritem.typeName }}</th>
                        <td>{{ containeritem.qtyDropped }}</td>
                        <td>{{ containeritem.qtyDestroyed }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tr>
        {% endfor %}
        </table>
	</div>
</div>
{% endblock %}

{% block script %}
<script>
    $(function() {
        $( "#tabs" ).tabs();
    });
</script>
{% endblock %}
