{% load SithKingboard %}
{% extends "base.html" %}

{% block header %}
    <fieldset>
        <legend>{{ info.characterName }}</legend>
        <img src="{{ images.characters }}{{ info.characterID }}_64.jpg" width="64" height="64">
        <img src="{{ images.corporations}}{{info.corporationID}}_64.png" width="64" height="64">
        <img src="{{ images.alliances }}{{info.allianceID}}_64.png" width="64" height="64">
    </fieldset>
{% endblock %}

{% block content %}
<div id="tabs">
	<ul>
		<li><a href="#stats">Statistics</a></li>
		<li><a href="#kills">Kills</a></li>
		<li><a href="#losses">Losses</a></li>
	</ul>
	<div id="stats">
        <fieldset>
            <legend>Kills</legend>
            <table>
                <tr>
                    {% for group in killstats.results %}
                    <td class="statstype">{{ group._id }}</td><td class="statsvalue">{{ group.value.total }}</td>
                    {% if forloop.counter|divisibleby:6 and not forloop.last %}
                        </tr><tr>
                    {% endif %}
                    {% endfor %}
                </tr>
                <tr><td colspan="10">&nbsp;</td><td class="statstype">Total</td><td class="statsvalue"> {{ killstats.counts.emit }}</td></tr>
            </table>
        </fieldset>
        <fieldset>
            <legend>Losses</legend>
            <table>
                <tr>
                    {% for group in lossstats.results %}
                    <td class="statstype">{{ group._id }}</td><td class="statsvalue">{{ group.value.total }}</td>
                    {% if forloop.counter|divisibleby:6 and not forloop.last %}
                        </tr><tr>
                    {% endif %}
                    {% endfor %}
                </tr>
                <tr><td colspan="10">&nbsp;</td><td class="statstype">Total</td><td class="statsvalue"> {{ lossstats.counts.emit }}</td></tr>
            </table>
        </fieldset>

	</div>
    <div id="kills">
            <table class="kill_list">
                <thead>
                </thead>
                <tbody>
            {% for kill in killdata %}
                    <tr class="top{% if kill.victim.characterID eq info.pilotID %} loss{% else %} kill{% endif %}">
                        <td><img src="{{images.items}}{{kill.victim.shipTypeID}}_32.png" width="32" height="32"></td>
                        <td>{{kill.victim.shipType }}</td>
                        <td {% if not kill.victim.allianceID %}rowspan="2"{% endif %}><img src="{{ images.corporations }}{{kill.victim.corporationID}}_32.png" width="20" height="20"></td>
                        <td {% if not kill.victim.allianceID %}rowspan="2"{% endif %}>{{kill.victim.corporationName }}</td>
                        <td>{{kill.killTime|mongodate}}</td>
                    </tr>
                    <tr class="bottom{% if kill.victim.characterID eq info.pilotID %} loss{% else %} kill{% endif %}">
                        <td><img src="{{ images.characters }}{{kill.victim.characterID}}_32.jpg" width="32" height="32"></td>
                        <td><a href="http://{{ baseHost }}/pilot/{{ kill.victim.characterID }}">{{kill.victim.characterName }}</a></td>
                        {% if kill.victim.allianceID %}
                            <td>{% if kill.victim.allianceID %}<img src="{{ images.alliances }}{{kill.victim.allianceID}}_32.png" width="32" height="32">{% endif %}</td>
                            <td>{{kill.victim.allianceName}}</td>
                        {% endif %}
                        <td>{% if kill.location.region %}<a href="http://evemaps.dotlan.net/map/{{ kill.location.region }}" rel="external">{{ kill.location.region }}</a> / {% endif %}<a href="http://evemaps.dotlan.net/system/{{ kill.location.solarSystem }}" rel="external">{{ kill.location.solarSystem }}</a> / {{ kill.location.security|round:1 }} / <a href="/kill/{{ kill.idHash }}/">Details..</a></td>
                    </tr>
            {% endfor %}
                </tbody>
            </table>
    </div>
    <div id="losses">
            <table class="kill_list">
                <thead>
                </thead>
                <tbody>
            {% for kill in lossdata %}
                    <tr class="top{% if kill.victim.characterID eq info.characterID %} loss{% else %} kill{% endif %}">
                        <td><img src="{{images.items}}{{kill.victim.shipTypeID}}_32.png" width="32" height="32"></td>
                        <td>{{kill.victim.shipType }}</td>
                        <td {% if not kill.victim.allianceID %}rowspan="2"{% endif %}><img src="{{ images.corporations }}{{kill.victim.corporationID}}_32.png" width="32" height="32"></td>
                        <td {% if not kill.victim.allianceID %}rowspan="2"{% endif %}>{{kill.victim.corporationName }}</td>
                        <td>{{kill.killTime|mongodate}}</td>
                    </tr>
                    <tr class="bottom{% if kill.victim.characterID eq info.characterID %} loss{% else %} kill{% endif %}">
                        <td><img src="{{ images.characters }}{{kill.victim.characterID}}_32.jpg" width="32" height="32"></td>
                        <td><a href="http://{{ baseHost }}/pilot/{{ kill.victim.characterID }}">{{kill.victim.characterName }}</a></td>
                        {% if kill.victim.allianceID %}
                            <td>{% if kill.victim.allianceID %}<img src="{{ images.alliances }}{{kill.victim.allianceID}}_32.png" width="32" height="32">{% endif %}</td>
                            <td>{{kill.victim.allianceName}}</td>
                        {% endif %}
                        <td>{% if kill.location.region %}<a href="http://evemaps.dotlan.net/map/{{ kill.location.region }}" rel="external">{{ kill.location.region }}</a> / {% endif %}<a href="http://evemaps.dotlan.net/system/{{ kill.location.solarSystem }}" rel="external">{{ kill.location.solarSystem }}</a> / {{ kill.location.security|round:1 }} / <a href="/kill/{{ kill.idHash }}/">Details..</a></td>
                    </tr>
            {% endfor %}
                </tbody>
            </table>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    $(function() {
        $( "#tabs" ).tabs();
    });
</script>
{% endblock %}