{% load SithKingboard %}
{% extends "base.html" %}

{% block header %}
<h1>{{ info.characterName }}</h1>
<img src="{{ images.characters }}{{ info.characterID }}_64.jpg" width="64" height="64">
<img src="{{ images.corporations}}{{info.corporationID}}_64.png" width="64" height="64">
<img src="{{ images.alliances }}{{info.allianceID}}_64.png" width="64" height="64">
{% endblock %}

{% block content %}
<ul class="tabs">
    <li class="active"><a href="#stats">Statistics</a></li>
    <li><a href="#kills">Kills</a></li>
    <li><a href="#losses">Losses</a></li>
</ul>
 <div class="tab-content">
	<div id="stats" class="tab-pane active">
    {% include "components/entity_home_stats.html" %}
	</div>
    <div id="kills" class="tab-pane">
        <div id="home_killspage">
        {% with killdata as data %}
        {% include "components/kill_list.html" %}
        {% endwith %}
        </div>
    </div>
    <div id="losses" class="tab-pane">
        <div id="home_losspage">
        {% with lossdata as data %}
        {% include "components/kill_list.html" %}
        {% endwith %}
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
    $(function() {
        $( "#tabs" ).tabs();
    });
</script>
{% endblock %}