    <h1>Statistics</h1>
    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#numbers" data-toggle="tab">Numbers</a></li>
            <li><a href="#chart" data-toggle="tab">Chart</a></li>
        </ul>
        <div class="tab-content">
            <div id="numbers" class="active tab-pane">
                <h2>Total ships killed/lost</h2>
                <div class="row">
                    {% for ship, values in totalstats %}
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4">{{ ship }}</div>
                            <div class="col-md-2" style="text-align: right"><span class="badge badge-success">{{ values.kills }}</span> / <span class="badge badge-error">{{ values.losses }}</span></div>

                        </div>
                    </div>
                    {% endfor %}
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4"><strong>Total</strong></div>
                            <div class="col-md-2" style="text-align: right"><span class="badge badge-success">{{ killstats.value.total }}</span> / <span class="badge badge-error">{{ lossstats.value.total }}</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="chart">
                <h2>kills/losses by type</h2>
                <div id="chart_div"></div>
            </div>
        </div>
    </div>