    <h1>Statistics</h1>
    <h2>Kills</h2>
    <table class="condensed-table">
        <tr>
            {% for group, value in killstats.value.group %}
            <th>{{ group }}</th><td style="text-align: right;">{{ value }}</td>
            {% if forloop.counter|divisibleby:4 and not forloop.last %}
                </tr><tr>
            {% endif %}
            {% endfor %}
        </tr>
        <tr><td colspan="6">&nbsp;</td><th>Total</th><td style="text-align: right;"> {{ killstats.value.total }}</td></tr>
    </table>
    <h2>Losses</h2>
    <table class="condensed-table">
        <tr>
            {% for group, value in lossstats.value.group %}
            <th>{{ group }}</th><td style="text-align: right;">{{ value }}</td>
            {% if forloop.counter|divisibleby:4 and not forloop.last %}
                </tr><tr>
            {% endif %}
            {% endfor %}
        </tr>
        <tr><td colspan="6">&nbsp;</td><th>Total</th><td style="text-align: right;"> {{ lossstats.value.total }}</td></tr>
    </table>