<table class="table timeline">
    <thead>
        <tr class="titles">
            <th class="time">Time</th>
            <th class="kill">Kills</th>
            <th class="kill">Losses</th>
        </tr>
    </thead>
    <tbody>{% for killtime, data in timeline %}
        <tr class="timeline_entry">
            <td>{{ killtime }}</td>
            <td>
                <div class="timeline_kills">
                {% for kill in data.kills %}
                    <a href="/kill/{{ kill.killID }}/">
                        <img src="{{ images.items }}{{kill.victim.shipTypeID}}_32.png" alt="{{kill.victim.shipType}}" style="float: left;" rel='twipsy' title='{{kill.victim.shipType}}'>
                    </a>
                    {% if kill.victim.allianceID != 0 %}
                    <a href="/details/alliance/{{kill.victim.allianceID}}">
                        <img src="{{ images.alliances }}{{kill.victim.allianceID}}_32.png" alt="{{kill.victim.allianceName}}" style="float: left;" rel='twipsy' title='{{kill.victim.allianceName}}'>
                    </a>
                    {% endif %}

                    <a href="/details/corporation/{{kill.victim.corporationID}}">
                        <img src="{{ images.corporations }}{{kill.victim.corporationID}}_32.png" alt="{{kill.victim.corporationName}}" style="float: left;" rel='twipsy' title='{{kill.victim.corporationName}}'>
                    </a>

                    {% if kill.victim.characterID != 0 %}
                    <a href="/details/pilot/{{kill.victim.characterID}}">
                        <img src="{{ images.characters }}{{kill.victim.characterID}}_32.jpg" alt="{{ kill.victim.characterName }}" style="float: left;" rel='twipsy' title='{{kill.victim.characterName}}'>
                    </a>
                    {% endif %}
                    <div style="clear: both"></div>
                {% endfor %}
                </div>
            </td>
            <td>
                <div class="timeline_losses">
                {% for kill in data.losses %}
                    <a href="/kill/{{ kill.killID }}/">
                        <img src="{{ images.items }}{{kill.victim.shipTypeID}}_32.png" alt="{{kill.victim.shipType}}" style="float: left;" rel='twipsy' title='{{kill.victim.shipType}}'>
                    </a>
                    {% if kill.victim.allianceID != 0 %}
                    <a href="/details/alliance/{{kill.victim.allianceID}}">
                        <img src="{{ images.alliances }}{{kill.victim.allianceID}}_32.png" alt="{{kill.victim.allianceName}}" style="float: left;" rel='twipsy' title='{{kill.victim.allianceName}}'>
                    </a>
                    {% endif %}
                    <a href="/details/corporation/{{kill.victim.corporationID}}">
                        <img src="{{ images.corporations }}{{kill.victim.corporationID}}_32.png" alt="{{kill.victim.corporationName}}" style="float: left;" rel='twipsy' title='{{kill.victim.corporationName}}'>
                    </a>
                    {% if kill.victim.characterID != 0 %}
                    <a href="/details/pilot/{{kill.victim.characterID}}">
                        <img src="{{ images.characters }}{{kill.victim.characterID}}_32.jpg" alt="{{ kill.victim.characterName }}" style="float: left;" rel='twipsy' title='{{kill.victim.characterName}}'>
                    </a>
                    {% endif %}
                    <div style="clear: both"></div>
                {% endfor %}
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>