{% if currentPage %}
  <ul class="pagination">
    {% if currentPage != 1 %}<li><a href="{{ action }}/1">1</a></li>{% endif %}
    <li class="prev {% if prev %}{% else %}disabled{% endif %}"><a href="{% if prev %}{{ action }}/{{ prev }}{% else %}#{% endif %}">&larr; Previous</a></li>
    <li class="active"><a href="#">{{ currentPage }}</a></li>
    <li class="next {% if next %}{% else %}disabled{% endif %}"><a href="{% if next %}{{ action }}/{{ next }}{% else %}#{% endif %}">Next &rarr;</a></li>
    {% if currentPage != lastPage %}<li><a href="{{ action }}/{{ lastPage }}">{{ lastPage }}</a></li>{% endif %}
  </ul>
{% endif %}