{% extends "base.html" %}

{% block content %}
<h1>My Account</h1>
<div id="api-management">

{% if active_keys %}
<h2>Active API Keys</h2>
<div class="row">
<table class="table-bordered table-condensed table-striped span12">
    <thead>
    <tr>
        <th>Key ID</th>
        <th>Key Type</th>
        <th>Key Characters</th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    {% for key in active_keys %}
        <tr><td>{{ key.apiuserid }}</td><td>{{ key.type}}</td><td>{{key.chars}}</td><td>&nbsp;</td></tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endif %}

<h2>Add API Key</h2>
<p>The API Key added here can be used for pulling standings (to create battle reports) and
for pulling killmails. For both cases CCP currently requires a full API key to work, so currently
only full API keys are accepted. <br />For the purpose of validating the Key you enter, a request
to your account/AccountStatus API page will be made, however none of the data pulled from this request
will be saved.</p>
{% if error %}
    <div class="alert alert-error"><p>{{ error }}</p></div>
{% endif %}
    <form action="/account/" method="post">
        <fieldset>
            <legend>Key Data</legend>
            <input type="hidden" value="{{XSRF}}" name="XSRF">
        <div class="clearfix">
            <label for="apiuserid">EVE Userid</label>
            <div class="input">
                <input type="text" value="{{ apiuserid }}" name="apiuserid" id="apiuserid">
            </div>
        </div>
        <div class="clearfix">
            <label for="apikey">EVE API Key</label>
            <div class="input">
                <input type="text" value="{{ apikey }}" name="apikey" id="apikey">
            </div>
        </div>
        <div class="actions">
            <input class="btn primary" type="submit" value="Add">
        </div>
        </fieldset>
    </form>
</div>
{% endblock %}
